:root {
  --fundo: #47061E;
  --fundo-mais: #25030f;
  --primaria: #EEEEEE;
  --secundaria: #d9d9d9;
  --terciaria: #502f2b;
  --btn: #A76C39;
}

*{
  color: black;
}

.titulo{
  font-weight: 600;
 color: var(--fundo);
}

body {
  background-color: var(--fundo);
}

main,
nav,
#infos,
section,
header,
footer {
  background-color: var(--secundaria);
}

article.produto,
.card {
  background-color: var(--primaria)
}


button{
  background-color: var(--btn);
}
.btnPromo button{
  background-color: var(--fundo)
}

.btnPromo button:hover{
  background-color: var(--fundo-mais)
}

hr{
  border-color: var(--fundo)
}

.btn-desabilitado{
  opacity: 0.32;
}




.slider-input{
 border: solid black 1px;
 background-color: transparent;
}
#increase,#decrease{
  background-color: black;
}
.label-cabelo {
  color: white;
  background-color: var(--fundo)
}
.label-tipo-cabelo{
  background-color: var(--btn)
}

button:hover,
.label-cabelo:hover,a.continuar, .roxo {
  background-color: var(--fundo)
}