:root {
  --fundo: #47061E;
  --fundo-mais: #25030f;
  --primaria: #EEEEEE;
  --secundaria: #d9d9d9;
  --terciaria: #502f2b;
  --btn: #A76C39;
  --btnA: #a76c3963;
}

*{
  color: black;
}

.titulo{
  font-weight: 600;
 color: var(--fundo);
}

body {
  background-color: var(--fundo);
}

main,
nav,
#infos,
section,
header,
footer {
  background-color: var(--secundaria);
}

article.produto,
.card {
  background-color: var(--primaria)
}
article.produto.selected{
  background-color: transparent
}


button{
  background-color:var(--fundo);
}

button:hover,
.label-cabelo:hover,a.continuar, .roxo {
  background-color: var(--fundo)
}

button.btnAdicionar{
  border-color: var(--btnA);
  border-width: 1px;
  color: var(--fundo);
  background-color: transparent
}
button.btnAdicionar:hover,button.selected,button.included{
  color: black;
  fill-opacity: 0;
  background-color: var(--btnA)
}
.btnAdicionar:hover{
  
  content:"Remover" !important;
  background-color: red !important;
}
button.included{
  opacity: .4;
}

.btnPromo button{
  background-color: var(--fundo)
}

.btnPromo button:hover{
  background-color: var(--fundo-mais)
}

hr{
  border-color: var(--fundo)
}

.btn-desabilitado{
  opacity: 0.32;
}

/* Estilo quando o radio está selecionado */
.day-radio:checked ~ .day-number {
  background-color: #502f2b;
  border-color: black;
}

.day-radio:checked ~ .day-number p {
  color: white;
}



.slider-input{
 border: solid black 1px;
 background-color: transparent;
}
#increase,#decrease{
  background-color: black;
}
.label-cabelo {
  color: white;
  background-color: var(--fundo)
}
.label-tipo-cabelo{
  background-color: var(--btn)
}

