.scroll-container {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari e Opera */
}
.day-radio {
    display: none;
}
    /* Estilo quando o radio está selecionado */
    .day-radio:checked ~ .day-number {
        background-color: #502f2b;
        border-color: black;
    }

    .day-radio:checked ~ .day-number p {
        color: white;
    }

    