#pgLogin{
        background-color: #0f0c25;
        color: white;
    
}

#crieuma{
        text-decoration: none;
        color: rgb(55, 185, 202);
} 
#login{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.email input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #232131;
    color: #b6b6b6;
    margin-top: 15px;
}

.senha input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #232131;
    color: #b6b6b6;
    margin-top: 15px;
}

.entrar input{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(55, 185, 202);
    color: black;
}

.name input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #232131;
    color: #b6b6b6;
}

.input ::placeholder{
    color: white;
}

.caixa {
    margin-top: 80px;

}
