:root{
    --cinza-claro:#d1d1d1;
    --cinza-medio:#a3a3a3;
    --cinza-80:#585858;
    --cinza-100:#3a3a3a;
    --cinza-escuro:#1b1b1b;
}

body{
    max-width: 800px;
    margin: auto;
    background-color: var(--cinza-escuro);
}
header{
    background-color: var(--cinza-80);
    top: 0;
    height: 6em;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:0px 2px 15px var(--cinza-100);
}

.left_btn, .right_btn, #banner{
    width: 25%;
    height: inherit;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--cinza-claro);
}

#banner{
    width: 75%;
    display: flex;
    background-color: var(--cinza-medio);   
    font-style: italic;
    font-size: x-small;
}
section{
    border-radius: 18px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-medio);
}

.containerH, .tiposCabelo,.tipoCabelo{
    display: flex;
}
.tipoCabelo{
    width: 40%;
    height: fit-content;
    margin: 0 5px;
    background-color: var(--cinza-80);

}
.tiposCabelo{
    border: 1px solid black;
}

.tiposCabelo{
    width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#infos{
    align-items: center;
    flex-direction: row;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#meuCabelo{

}

#cabeloSVG{
    width: 30%;
    border-radius: 18px;
    background-color: var(--cinza-claro);
}
#cabeloSlide{
    writing-mode: vertical-rl;
}

img{
    width: 100%;
    height: auto;
}

@media screen and (max-width:500px){
    body{
    nav{display:none;}
    background-color: red;
    }
}



#pgLogin{
        background-color: #0f0c25;
        color: white;
    
}

#crieuma{
        text-decoration: none;
        color: rgb(55, 185, 202);
} 
#login{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.email input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #232131;
    color: #b6b6b6;
    margin-top: 15px;
}

.senha input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #232131;
    color: #b6b6b6;
    margin-top: 15px;
}

.entrar input{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(55, 185, 202);
    color: black;
}

.name input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #232131;
    color: #b6b6b6;
}

.input ::placeholder{
    color: white;
}

.caixa {
    margin-top: 80px;

}
