body {
    font-size: 16px; /* Tamanho padrão */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container-base {
    list-style-type: none;
    display: grid;
    gap: 16px;
    padding: 3% 5%;
}
.container-menu {
    background-color: aquamarine; /* Cor inicial */
    grid-template-columns: 1fr 2fr 1fr 
}
.periodos-container{
    background-color: aquamarine; /* Cor inicial */
    grid-template-columns: 1fr 1fr 1fr;
}


.item-base {
    background-color: #ccc;
    padding: 8px;
    text-align: center;
}
.item-menu{
    font-size: 1em;
}
.item-menu-final{
    grid-column: 3 ;
}
.item-periodo{
    font-size: 0.9em;
}




/* Tela média */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Reduz tamanho da fonte */
    }
    
    .container-menu {
        background-color: green; /* Feedback visual */
    }

    .periodos-container{
        background-color:green; /* Cor inicial */
    }
}

/* Tela pequena */
@media (max-width: 480px) {
    body {
        font-size: 12px; /* Tamanho mínimo */
    }
    .container-base{
        padding: 2% 2%;
        gap: 8px
    }
    .container-menu {
        background-color: red; /* Feedback visual */
    }

    .periodos-container{
        background-color:red; /* Cor inicial */
    }
}

/* Tela extra-pequena */
@media (max-width: 320px) {
    body {
        font-size: 12px; /* Tamanho mínimo */
    }

    .container-menu {
        background-color: purple; /* Feedback visual */

    }

    
    .periodos-container{
        background-color:purple; /* Cor inicial */
    }
}