:root{
    --cinza-claro:#d1d1d1;
    --cinza-medio:#a3a3a3;
    --cinza-80:#585858;
    --cinza-100:#3a3a3a;
    --cinza-escuro:#1b1b1b;
}

*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body, nav, main, aside, footer{
    display: flex;
    margin: 3px;
}

body{
    flex-wrap: wrap;
}

header, main, footer{
    flex: 1 1 100vw;
}

header, nav, main, aside, footer{
    background-color: var(--cinza-80);
}

header{
    display: grid;
    flex: 1 1 100vw;
}

nav, aside{
    flex: 1 1 100px;
}
main{
    display: grid;
    grid-auto-flow: row;
    flex: 1 1 900px
}
section{
    border-radius: 12px;
    min-height: 100px;
    padding: .2vw .4vw;
    margin-bottom: 1vw;
    background-color: var(--cinza-medio);
    display: flex;
}

.full-grid{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid{
    border: 2px solid green;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: .5vw;
    background-color: var(--cinza-claro);
}

article{
    grid-template-columns: repeat(4, 1fr);
}

.grid-2-l{
    grid-template-columns: 1.3fr 2.7fr;
}
.grid-2-c{
    grid-template-columns: 2fr 2fr;
}
.grid-3-c{
    grid-template-columns: 1fr 2fr 1fr;
}
.grid-3-l{
    grid-template-columns: 1fr 1fr 2fr;
    
}

.grid-4{
    grid-template-columns: repeat(4, 1fr);
}

.produtos{
    width: 100%;
    height: 10vw;
    background-color: var(--cinza-claro);
}

.caixa{
    width: 5vw;
    flex: 1 1 50px;
    background-color: blue;
    padding: 50px;
    border-radius: 90px;
}