@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout global */
body {
  @apply flex flex-col w-full max-w-md mx-auto md:flex;
}

body::-webkit-scrollbar {
  display: none;
}

dialog:open {
  backdrop-filter: blur(2px);

  @apply items-center w-[100vw] h-[100vh] z-30 flex flex-col;
}

dialog #popupContent {
  @apply flex flex-col w-72 h-72  items-center rounded-xl p-2 gap-y-3 fixed mt-[25vh] z-40 bg-white blur-0;
}

dialog .btn-login-container {
  @apply mt-12;
}

header {
  @apply flex flex-col w-full h-full px-2 mb-2 rounded-b-2xl;
}

header,
main {
  flex: 1;
  @apply flex flex-col gap-2 p-4 mb-2 rounded-b-lg;
}

main {
  /* margin-bottom: 6.25rem; */
  @apply rounded-lg;
}
#main-confirmar {
  @apply gap-0 px-4 py-0 rounded-t-none rounded-b-lg;
}

#profile {
  @apply rounded-t-none;
}

section {
  @apply flex flex-col gap-2 p-4 mb-2 rounded-b-lg h-fit;
}

section.center {
  @apply items-center;
}

section:first-of-type {
  @apply rounded-t-none;
}

#preFooter {
  @apply sticky mb-[92px];
}

footer {
  @apply fixed bottom-0 flex flex-col w-full max-w-md mx-auto md:flex;
}

/* Layout do profile */

article#infos {
  @apply flex flex-col cursor-pointer h-fit;
}

.hair-issue {
  @apply flex items-center h-fit w-fit gap-2 text-white text-[14px] py-1 px-4 rounded-md cursor-pointer transition-all;
}

/* article#infos > *{
  @apply overflow-hidden
} */

.usuario {
  @apply flex flex-row;
}

.escondido {
  @apply h-0 opacity-0;
}

.escondido.expanded {
  @apply opacity-100 h-fit;
}

/* Navegação */
nav {
  @apply flex flex-col items-center py-4 pb-2 shadow-md;
}

nav.profile-nav {
  @apply flex-row;
}

nav.profile-nav h1 {
  @apply mx-auto;
}

nav.profile-nav a {
  @apply ml-0;
}

a.back-arrow,
a.edit-pencil {
  @apply p-3 ml-auto;
}

nav.select-service {
  @apply flex-row;
}

nav.select-service a {
  @apply ml-0 mr-auto;
}

nav.select-service h1 {
  @apply absolute mx-auto;
}

.sub-nav {
  @apply flex flex-row w-full py-4 justify-evenly;
}

.nav-btn {
  @apply flex flex-col items-center gap-1 cursor-pointer px-5 py-1 rounded-full peer-checked:bg-[#e0d2cf] transition-colors;
}

.home-icon {
  @apply text-xl text-black peer-checked:text-gray-700;
}

#perfil-nav {
  @apply grid grid-cols-3 pb-0 h-fit justify-items-center;
}

#perfil-nav img {
  @apply h-2/3;
}

/* Logo */
.logo {
  @apply h-[40px];
}

/* Lista de promoções */
#promo-list,
scroll-container {
  @apply flex p-4 space-x-4 overflow-x-auto h-fit scroll-smooth snap-x snap-mandatory;
}

#promo-list::-webkit-scrollbar {
  height: 2px;
}

#promo-list li {
  @apply min-w-[90%] h-full snap-start;
}

#promo-list .seta {
  @apply hidden;
}

/* Cards de produto */

.produto {
  @apply flex flex-col max-w-2xl mb-2 text-white shadow-lg rounded-xl relative cursor-pointer h-[144px];
}

.produto > .hdCard {
  @apply absolute pt-2;
}

#promo-list .dtCard {
  @apply hidden;
}
.select-service-text .dtCard {
  @apply block col-span-2 row-start-2;
}
.produto > .dtCard {
  @apply absolute block row-start-2 overflow-hidden text-justify top-1/4;
}

.btnCard {
  @apply flex items-start justify-end px-4 pt-2 h-[64px] row-start-1 col-start-2;
}

.imgProduto {
  @apply object-cover rounded-lg;
}

/* Seleção de serviço */
#select-service {
  @apply grid grid-cols-3 gap-x-2;
}

.promo .imgCard img {
  @apply w-[345px] h-[224px];
}

.produto .imgCard {
  @apply flex self-start object-cover object-top h-20 pl-0 w-fit aspect-square;
}

#selected-service .imgCard {
  @apply col-start-1 row-span-2 row-start-1;
}

.select-service-text {
  @apply flex flex-col col-span-3 col-start-2;
}

#servico-selecionado {
  @apply flex flex-row;
}

.selected-imgCard {
  @apply flex h-36 w-36;
}

.img-container img,
.imgCard img {
  @apply aspect-square h-[80px] w-[80px];
}

.selected-card {
  @apply ml-2;
}

.selected .imgCard {
  @apply w-full;
}

.selected .imgCard img {
  @apply object-cover w-full h-auto aspect-square rounded-xl;
}

/* Confirmação */

article.produto.resume {
  @apply grid grid-cols-4 gap-4 shadow-none h-fit;
}

.imgCard.resume,
.imgCard.resume img {
  @apply w-full h-auto aspect-square;
}

.hdCard.resume,
.dtCard.resume {
  @apply relative;
}

.hdCard.resume {
  @apply col-span-3;
}

/* Texto e tipografia */

hr {
  @apply my-4;
}

h1 {
  @apply text-2xl font-bold text-center;
}

h1,
h2,
h3 {
  @apply font-bold;
}

h2 {
  @apply text-[1.375rem];
}

h2,
.pd-promo {
  @apply text-left;
}

p {
  @apply text-sm;
}

p.detalhe {
  @apply text-xs text-justify;
}

/* Botões e links */
button,
a.continuar {
  @apply px-4 py-2 mt-0 mb-4 ml-auto mr-0 text-xs text-white rounded-full;
}

button.btn-login {
  @apply m-0;
}

.btn-login-container {
  @apply flex justify-center mt-2;
}

.line-align > li > a {
  @apply text-center underline;
}

.line-align {
  @apply flex flex-row justify-center w-full gap-4;
}

/* Elementos de formulários */

.scroll-container {
  -ms-overflow-style: none;
  /* IE e Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari e Opera */
}

.day-radio {
  display: none;
}

form {
  @apply flex flex-col items-center w-full font-medium;
}

.login-input-div {
  @apply relative w-full pb-2;
}

.login-input-div input {
  @apply w-full p-2 pt-5 pb-2 text-gray-900 border-2 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-b-4 focus:border-b-purple-500;
}

.login-input-div label {
  @apply absolute pb-2 text-gray-500 transform -translate-y-1/2 left-2 top-1/4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:text-sm;
}

/* Outros */
.seta {
  @apply absolute right-0 py-2 mr-12;
}

.setas {
  @apply top-0 flex mt-0;
}

.seta.invertido,
.setas.invertido {
  @apply rotate-180;
}

li {
  @apply list-none;
}
